<h4 class="page-header">Usuario RPG</h4>

<div mensagem-directive></div>
  
<form name="formUsuario">
	<input type="hidden" ng-model="usuario.idUsuario">
	<input type="text" class="form-control" ng-repeat="cabecalho in cabecalhos" placeholder="cabecalho.nome" ng-model="usuario.nome">
	<hr />
	
	<div class="row">
	  <div class="col-md-12">
	  	<button type="button" class="btn btn-primary" ng-click="voltar()">Voltar</button>
	  	<button type="button" class="btn btn-success" ng-click="salvarUsuario()">Salvar</button>
	  </div>
	</div>

</form>