<div class="table-responsive col-md-12">

	<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="criarPersonagem()">Novo Personagem</button>
	<table class="table table-striped" cellspacing="0" cellpadding="0">
		<thead>
			<tr>
				<th>{{'NAME' | translate}}</th>
				<th class="actions">{{'ACTIONS' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="personagem in personagens">
				<td>{{personagem.nome}}</td>
				<td class="actions">
					<a class="btn btn-warning btn-xs" ng-click="escolherFicha(personagem)">{{'EDIT' | translate}}</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>