<h4 class="page-header">Crie sua Campanha</h4>

<form name="formNovaCampanha">
	<input type="hidden" ng-model="campanha.idCampanha">
	<select class="form-control">
	    <option>Selecione o Sistema de RPG</option>
	    <option ng-repeat="sistema in sistemas" ng-click="adicionarSistema(sistema)">{{sistema.nome}}</option>
  	</select>
	<input type="text" class="form-control" ng-model="campanha.nome" placeholder="{{'NAME_CAMPAIGN' | translate}}">
  	<input type="text" class="form-control" ng-model="campanha.descricao" placeholder="{{'DESCRIPTION_CAMPAIGN' | translate}}">
  	<input type="text" class="form-control" ng-model="campanha.historia" placeholder="{{'HISTORY_CAMPAIGN' | translate}}">
  	<input type="datetime" class="form-control" ng-model="campanha.dataInicio" placeholder="Data de inicio da primeira jogatina">
  	<input type="datetime" class="form-control" ng-model="campanha.dataFim" placeholder="Data de fim da primeira jogatina">
	<hr />
	
	<div class="row">
	  <div class="col-md-12">
	  	<button type="button" class="btn btn-primary" ng-click="salvarCampanha()">Salvar</button>
	  </div>
	</div>

</form>