<h4 class="page-header">Combate RPG</h4>

<div mensagem-directive></div>
  
<form name="formCombate">
	<input type="hidden" ng-model="combate.idCombate">
	<input type="text" class="form-control" ng-model="combate.nome" placeholder="Nome do Combate">
  	<input type="text" class="form-control" ng-model="combate.descricao" placeholder="Descricao do Combate">
	<select class="form-control" ng-model="combate.sistema.idSistema">
	    <option ng-repeat="sistema in sistemas" value="{{sistema.idSistema}}">{{sistema.nome}}</option>
  	</select>
  	<label class="checkbox-inline">
  		<input type="checkbox" ng-model="combate.flagAtivo"> Ativo
  	</label>
  	
	<hr />
	
	<div class="row">
	  <div class="col-md-12">
	  	<button type="button" class="btn btn-primary" ng-click="salvarCombate()">Salvar</button>
	  	<a class="btn btn-success" ng-click="buscarCombate()">Pesquisar</a>
		<a class="btn btn-default" ng-click="limparCombate()">Limpar</a>
	  </div>
	</div>

</form>
  
<hr />
	
<div class="table-responsive col-md-12">

	<table class="table table-striped" cellspacing="0" cellpadding="0">
		<thead>
			<tr>
				<th>{{'ID' | translate}}</th>
				<th>{{'NAME' | translate}}</th>
				<th>{{'DESCRIPTION' | translate}}</th>
				<th>{{'SYSTEM' | translate}}</th>
				<th>{{'ACTIVE' | translate}}</th>
				<th class="actions">{{'ACTIONS' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="combate in combates">
				<td>{{combate.idCombate}}</td>
				<td>{{combate.nome}}</td>
				<td>{{combate.descricao}}</td>
				<td>{{combate.sistema.nome}}</td>
				<td>{{combate.flagAtivo}}</td>
				<td class="actions">
					<a class="btn btn-warning btn-xs" ng-click="editarCombate(combate)">{{'EDIT' | translate}}</a>
					<a class="btn btn-danger btn-xs" ng-click="inativarCombate(combate)">{{'INACTIVATE' | translate}}</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>