<h4 class="page-header">Profissao RPG</h4>

<div mensagem-directive></div>
  
<form name="formProfissao">
	<input type="hidden" ng-model="profissao.idProfissao">
	<input type="text" class="form-control" ng-model="profissao.nome" placeholder="Nome do Profissao">
  	<input type="text" class="form-control" ng-model="profissao.descricao" placeholder="Descricao do Profissao">
	<select class="form-control">
	    <option>Selecione o Sistema de RPG</option>
	    <option ng-repeat="sistema in sistemas" ng-click="adicionarSistema(sistema)">{{sistema.nome}}</option>
  	</select>
  	<label class="checkbox-inline">
  		<input type="checkbox" ng-model="profissao.flagAtivo"> Ativo
  	</label>
  	
	<hr />
	
	<div class="row">
	  <div class="col-md-12">
	  	<button type="button" class="btn btn-primary" ng-click="salvarProfissao()">Salvar</button>
	  	<a class="btn btn-success" ng-click="buscarProfissao()">Pesquisar</a>
		<a class="btn btn-default" ng-click="limparProfissao()">Limpar</a>
	  </div>
	</div>

</form>
  
<hr />
	
<div class="table-responsive col-md-12">

	<table class="table table-striped" cellspacing="0" cellpadding="0">
		<thead>
			<tr>
				<th>{{'ID' | translate}}</th>
				<th>{{'NAME' | translate}}</th>
				<th>{{'DESCRIPTION' | translate}}</th>
				<th>{{'SYSTEM' | translate}}</th>
				<th>{{'ACTIVE' | translate}}</th>
				<th class="actions">{{'ACTIONS' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="profissao in profissaos">
				<td>{{profissao.idProfissao}}</td>
				<td>{{profissao.nome}}</td>
				<td>{{profissao.descricao}}</td>
				<td>{{profissao.sistema.nome}}</td>
				<td>{{profissao.flagAtivo}}</td>
				<td class="actions">
					<a class="btn btn-warning btn-xs" ng-click="editarProfissao(profissao)">{{'EDIT' | translate}}</a>
					<a class="btn btn-danger btn-xs" ng-click="inativarProfissao(profissao)">{{'INACTIVATE' | translate}}</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>