<h4 class="page-header">Raca RPG</h4>

<div mensagem-directive></div>
  
<form name="formRaca">
	<input type="hidden" ng-model="raca.idRaca">
	<input type="text" class="form-control" ng-model="raca.nome" placeholder="Nome do Raca">
  	<input type="text" class="form-control" ng-model="raca.descricao" placeholder="Descricao do Raca">
	<select class="form-control">
	    <option ng-repeat="sistema in sistemas" value="{{sistema.idSistema}}">{{sistema.nome}}</option>
  	</select>
  	<label class="checkbox-inline">
  		<input type="checkbox" ng-model="raca.flagAtivo"> Ativo
  	</label>
  	
	<hr />
	
	<div class="row">
	  <div class="col-md-12">
	  	<button type="button" class="btn btn-primary" ng-click="salvarRaca()">Salvar</button>
	  	<a class="btn btn-success" ng-click="buscarRaca()">Pesquisar</a>
		<a class="btn btn-default" ng-click="limparRaca()">Limpar</a>
	  </div>
	</div>

</form>
  
<hr />
	
<div class="table-responsive col-md-12">

	<table class="table table-striped" cellspacing="0" cellpadding="0">
		<thead>
			<tr>
				<th>{{'ID' | translate}}</th>
				<th>{{'NAME' | translate}}</th>
				<th>{{'DESCRIPTION' | translate}}</th>
				<th>{{'SYSTEM' | translate}}</th>
				<th>{{'ACTIVE' | translate}}</th>
				<th class="actions">{{'ACTIONS' | translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="raca in racas">
				<td>{{raca.idRaca}}</td>
				<td>{{raca.nome}}</td>
				<td>{{raca.descricao}}</td>
				<td>{{raca.sistema.nome}}</td>
				<td>{{raca.flagAtivo}}</td>
				<td class="actions">
					<a class="btn btn-warning btn-xs" ng-click="editarRaca(raca)">{{'EDIT' | translate}}</a>
					<a class="btn btn-danger btn-xs" ng-click="inativarRaca(raca)">{{'INACTIVATE' | translate}}</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>