<h4 class="page-header">Sistema</h4>
  
<form action="index.html">
	<input type="hidden" ng-model="sistema.idSistema">
	<input type="text" class="form-control" ng-model="sistema.nome" placeholder="Nome do Sistema">
  	<input type="text" class="form-control" ng-model="sistema.descricao" placeholder="Descricao do Sistema">
  	<label class="checkbox-inline">
  	<input type="checkbox" ng-model="sistema.flagAtivo"> Ativo
  	</label>
  	
	<hr />
	
	<div class="row">
	  <div class="col-md-12">
	  	<button type="submit" class="btn btn-primary" ng-click="salvarSistema(sistema)">Salvar</button>
	  	<a class="btn btn-success" ng-click="buscarSistema(sistema)">Pesquisar</a>
		<a class="btn btn-default" ng-click="limparSistema()">Limpar</a>
	  </div>
	</div>

  </form>
  
   	<hr />
 	<div id="list" class="row">
	
	<div class="table-responsive col-md-12">
		<table class="table table-striped" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Descrição</th>
					<th>Ativo</th>
					<th class="actions">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="sistema in sistemas">
					<td>{{sistema.idSistema}}</td>
					<td>{{sistema.nome}}</td>
					<td>{{sistema.descricao}}</td>
					<td>{{sistema.flagAtivo}}</td>
					<td class="actions">
						<a class="btn btn-warning btn-xs" ng-click="editarSistema(sistema)">Editar</a>
						<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete-modal">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
      </div>
      <div class="modal-body">
        Deseja realmente excluir este item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="excluirSistema(sistema)">Sim</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
      </div>
    </div>
  </div>
</div>